.navbar {
    width: 100%;
    height: 75px;
    background-color: rgb(20, 217, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon {
    margin-left: 50px;
}

.end {
    padding: 0 10px;
}

.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}
